{% import 'MopaBootstrapBundle::flash.html.twig' as f %}

{{f.session_flash()}}
{#{% if app.session.hasFlash("success")%}#}
{#<div class="alert-message success">{{app.session.flash('success')}}</div>#}
{#{% endif%}#}
